<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
<payment>
<claim_payment><active>1</active>
<model>Droxic\ClaimPayment\Model\ClaimPayment</model>
<order_status>pending</order_status>
<title>Claim Payment</title>
<allowspecific>0</allowspecific><group>offline</group>
</claim_payment>
</payment>
</default>
</config>