<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    		<tab id="droxic" translate="label" sortOrder="999">
			<label>Droxic</label>
		</tab>
        <section id="droxic" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Droxic Configuration</label>
            <tab>droxic</tab>
            <resource>Droxic_OrderReport::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="percentage" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Percentage</label>
                    <comment>Comment</comment>
                </field>
            </group>
        </section>
    </system>
</config>
